#login{
margin-top: 10%;
margin-left: 45%;
border-color: darkblue;
border-style: solid;
padding: 8px;
width: 20%;
border-radius: 7px;
	background-color: whitesmoke;
display:flex;
justify-content: center;
flex-direction: column;

}
.datosin{
	margin-left:13% ;
	align-items: center;
	padding-left: 9%;
	width: 60%;
	height: 30%;
	border-color: black;
	border-width: 2px;
	border-radius: 7px;
	border-style: solid;
	margin-top: 5px;
	margin-bottom: 2px;
}

.lab{

text-align: center;
padding: 10px;

}

input[type=submit]{
	background-color: steelblue;
	color: white;
	margin-left: 15%;
	padding-top: 0px;
	height: 35px;
	width: 200px;
	font-size:20px;
}


.Registrarse{
	margin-left: 21%;
	margin-top: 3%;
	text-decoration: none;
	color: black;

}